---
networks:
  infra:
    external: true
    name: infra
services:
  # dickobrazz:
  #   image: ghcr.io/MairwunNx/dickobrazz:1.22.0
  #   command: ["/usr/local/bin/dickobrazz"]
  #   container_name: dickobrazz-bot
  #   cpus: '0.25'
  #   depends_on: [ dickobrazz-redis, dickobrazz-mongo ]
  #   environment:
  #     DD_DB_HOST: dickobrazz-mongo
  #     MONGODB_URI: ${MONGODB_URI}
  #     MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
  #     MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
  #     MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
  #     RANDOMORG_TOKEN: ${RANDOMORG_TOKEN}
  #     REDIS_ADDRESS: ${REDIS_ADDRESS}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
  #   healthcheck:
  #     interval: 30s
  #     retries: 3
  #     start_period: 40s
  #     test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
  #     timeout: 10s
  #   logging:
  #     driver: local
  #     options:
  #       max-file: '3'
  #       max-size: 10m
  #   mem_limit: 256m
  #   mem_reservation: 64m
  #   networks: [ infra ]
  #   restart: unless-stopped
  dickobrazz-mongo:
    command: ["--wiredTigerCacheSizeGB", "0.25"]
    container_name: dickobrazz-mongo
    cpus: '0.5'
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      TZ: ${TZ}
    healthcheck:
      interval: 15s
      retries: 12
      start_period: 60s
      test: ["CMD-SHELL", "mongosh --eval 'db.runCommand(\"ping\")' --quiet | grep -q 1"]
      timeout: 5s
    image: mongo:8.0.15
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 512m
    mem_reservation: 256m
    networks: [ infra ]
    expose: [ "27017" ]
    restart: unless-stopped
    volumes:
      - dickobrazz-mongo-data:/data/db
  dickobrazz-redis:
    command: >
      redis-server --port 6379
      --loglevel warning
      --save 20 1
      --requirepass ${REDIS_PASSWORD}
    container_name: dickobrazz-redis
    cpus: '0.5'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      TZ: ${TZ}
    healthcheck:
      interval: 10s
      retries: 3
      start_period: 10s
      test: ["CMD", "sh", "-c", "redis-cli -a ${REDIS_PASSWORD} --no-auth-warning ping"]
      timeout: 5s
    image: redis:8.2-alpine
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 256m
    mem_reservation: 128m
    networks: [ infra ]
    expose: [ "6379" ]
    restart: unless-stopped
    volumes:
      - dickobrazz-redis-data:/data
volumes:
  dickobrazz-mongo-data:
    driver: local
  dickobrazz-redis-data:
    driver: local